---
layout: sub-page
title: >-
    South Lousiana's hub for Commercial Real Estate
description: Find commercial real estate for sale, lease & auction with the leading commercial real estate in south louisana.
keywords: commercial real estate, commercial real estate marketing, commercial real estate advertising, commercial mls, land for sale, commercial properties, commercial real estate for lease, commercial auctions
permalink: /real-estate-articles
---
<div class="container pt-10 mt-10">
<div class="row">
  <div class="col-md-12 text-center mb-5 editable">
    <h1>Scouting Lafayette</h1>
    <h2 class="h6">Your hub for south Louisiana commercial real estate</h2>
  </div>
  {% for post in site.posts %}
  {% if forloop.first %}
  <div class="col-12 mb-3 mb-sm-7">
    <!-- Card -->
    <div class="card card-flush border-0">
      <div class="row align-items-md-center">
        <div class="col-md-8">
          <img class="card-img rounded-0" src="{{ post.image }}" alt="Image Description" />
        </div>
        <!-- End Col -->
        <div class="col-md-4">
          <div class="card-body">
            <span class="card-subtitle">{{post.date | date: '%B %d, %Y'}}</span>
            <h2 class="card-title"><a class="text-dark" href="{{ post.url }}">{{ post.title }}</a></h2>
            <p class="card-text fw-normal fs-8">{{ post.short_description | truncatewords: 20 | strip_html }}</p>
            <a class="card-link fs-4" href="{{ post.url }}">Read more <i class="bi-chevron-right small ms-1"></i></a>
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Card -->
  </div>
  <!-- Card -->
  <!-- End Card -->
  {% endif %}
  {% endfor %}
    {% for post in site.posts offset: 1 %}
    <div class="order-lg-{{forloop.index0}} col-sm-6 col-lg-4 mb-3 mb-sm-7">
      <!-- Card -->
      <a class="card rounded-0 card-stretched-vertical card-transition bg-img-start gradient-y-overlay-sm-gray-900" href="{{ post.url }}" style="background-image: url('{{ post.image }}'); min-height: 25rem;">
        <div class="card-header">
          <span class="card-subtitle text-white">{{post.date | date: '%B %d, %Y'}}</span>
        </div>
        <div class="card-footer">
          <h3 class="card-title text-white">{{ post.title }}</h3>
         <p class="card-link link-light">Read more <i class="bi-chevron-right small ms-1"></i></p>
        </div>
      </a>
      <!-- End Card -->
    </div>
    {% endfor %}
</div>
</div>
    <!-- End Col -->
