---
layout: default
title: >-
    Scout Real Estate Co. - Acadiana's Premier Commercial Real Estate Brokers -
    Scout Real Estate Co. https://scoutrec.com
description: Test description
keywords:
page_banner:
    banner_title: Your Commercial Real Estate Partners
    sub_text: BROKERAGE | MANAGEMENT | CONSULTING
    button_link: /listings
    button_text: SEARCH LISTINGS
    background_image: ../assets/img/SCOUT-DOWNTOWN-VIEW.jpg
permalink: /
---
<div class="position-relative mt-0">
    <div class="container-fluid">
        <div class="row justify-content-end align-items-md-center my-4">
            <div class="d-none d-md-block col-md-6 position-absolute top-0 start-0 bg-img-center h-100 editable" style="background-image: url(../assets/img/SCOUT-ROCK-N-BOWL-RECTANGLE-scaled.jpg);"></div>
            <div class="d-md-none mb-5 mb-md-0">
                <img class="img-fluid editable" src="/assets/img/SCOUT-ROCK-N-BOWL-RECTANGLE-scaled.jpg" alt="">
            </div>

            <div class="col-md-6">
                <div class="p-md-5 p-lg-7">
                    <!-- Heading -->
                    <div class="mb-4 mb-sm-7 editable">
                        <h1>Featured Listings</h1>
                        <h3>Let our agents help you</h3>
                        <h2>find the perfect commercial property.</h2>
                    </div>
                    <!-- End Heading -->
                    <!-- End Row -->
                    <div class="row">
                        {% assign sorted = site.properties | sort: 'featured' | reverse %}
                        {% for item in sorted | limit: 3 %}
                        <div class="col mb-3">
                      <!-- Card -->
                      <div class="card card-flush shadow-none h-100">
                          <img class="card-img" src="{{item.image-2}}" alt="{{item.name}}">
                          {% if item.featured %}
                          <div class="card-pinned-top-start">
                            <span class="badge bg-success">Featured</span>
                          </div>
                          {% endif %}
                        <!-- Body -->
                        <a class="card-body" href="{{item.url}}">
                          <span class="card-subtitle text-body">For sale</span>
                          <div class="row align-items-center mb-3">
                            <div class="col">
                              <h4 class="card-title text-inherit">{{item.name}}</h4>
                            </div>
                            <!-- End Col -->
                            <div class="col-auto">
                              <h3 class="card-title text-primary">${{item.price | money}}</h3>
                            </div>
                            <!-- End Col -->
                          </div>
                          <!-- End Row -->
              
                        </a>
                        <!-- End Body -->
                      </div>
                      <!-- End Card -->
                    </div>

                    {% endfor %}
                    <div class="d-grid d-sm-flex gap-3">
                        <a class="btn btn-primary btn-transition px-6 text-uppercase" href="/listings">View All Listings</a>
                    </div>
                    </div>
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
</div>
<!-- Card Grid -->
<div id="ourteam" class="container content-space-2 content-space-lg-0 align-items-center">
    <div class="row py-8">
        <div class="col-md-12">
    <!-- Heading -->
    <h5 class="mb-3 mt-4 text-left fw-light">OUR CULTURE</h5>
    <h3 class="mb-10 text-left fw-normal fs-1">Rock solid work ethic with an emphasis on honesty, integrity and a deep and growing
        network of professional
        relationships.</h3>
        </div>
    </div>
    <div class="w-md-75 w-lg-75 text-center mx-md-auto mb-5 mb-md-9">

        <h2 class="h1">Meet Your Commercial Real Estate Team</h2>
    </div>
    <!-- End Heading -->
    <div class="alignments">
        <div class="row gx-3 mb-5 mb-md-9 align-items-center justify-content-center">
            {% for post in site.data.broker %}
            <div class="col-sm-6 col-lg-3 mb-3 mb-lg-3 align-items-center">
                <!-- Card -->
                <div class="card card-transition h-100 shadow-none">
                    <img class="card-img-top" src="{{ post.image }}" alt="Image Description" />
                    <div class="card-body align-items-center p-2">
                        <h2 class="fs-4 text-dark text-center pb-2">{{ post.name }}<br />{{ post.title }}</h2>
                        <h5 class="card-text lh-base text-center fw-normal pb-4"><i class="fa fa-phone bg-transparent" aria-hidden="true"></i> {{ post.phone }}<br /><i class="fa fa-envelope bg-transparent" aria-hidden="true"></i> <a href="mailto:{{ post.email }}">{{ post.email }}</a></h5>
                    <div class="card-footer text-center p-1">
                        {% if post.listing-link %}
                         <div>
                            <a href="{{post.listing-link}}" class="btn btn-dark py-1 px-4 mx-auto">LISTINGS</a>
                        </div>
                        {% else %}
                       <div class="py-2"><br /></div>
                        {% endif %}
                    </div>
                    </div>
                </div>
                <!-- End Card -->
            </div>
            <!-- End Col -->
            {% endfor %}
        </div>
    </div>
    <!-- End Row -->
    <!-- end -->
</div>
<!-- End Card Grid -->
<!-- End Row -->
<div class="d-flex gradient-x-overlay-sm-dark bg-img-start" style="background-image: url('../assets/img/SCOUT-DOWNTOWN-VIEW.jpg'); min-height: 15rem;">
    <div class="container blackscreen">
        <!-- Heading -->
        <div class="mb-7">
            <h1 class="display-6 text-white mb-6 mt-6 text-center">Our History</h1>
            <div class="container">
                <div class="row text-white">
                    <div class="col-md-6">
                       <p class="lh-lg"> In 2018, our partners came together with the idea to build a new
                        commercial real estate model. We wanted
                        to service Lafayette and shape lasting relationships with client-partners looking to
                        succeed,
                        while also
                        enhancing the quality of life in their local community. Jeff Landry and Hammy Davis founded
                        Scout Real
                        Estate Co., a full-service commercial real estate, brokerage, management and consulting firm
                        based on
                        honesty, integrity and a rock-solid work ethic. In 2021, our leadership and management team
                        was
                        rounded
                        out with the addition of Rex Moroux, one of Acadiana’s foremost experts on commercial real
                        estate, with
                        an emphasis on downtown properties.
                       </p>
                    </div>
                    <div class="col-md-6">
                        <p class="lh-lg">
                        Scout is less worried about the number of signs we put in the ground
                        and more committed to working on
                        projects that have a significant impact for our clients and our community. We are
                        experienced
                        and we
                        have a deep network that comes from years of hard work in the commercial real estate markets
                        across
                        South Louisiana. We provide our clients access to the most current technology and
                        information
                        all
                        combined with old-school techniques such as actually answering the phone, meeting with
                        people in
                        person
                        and dealing with challenges face-to-face. We know, it’s a radical approach in today’s
                        market,
                        but one
                        that you will immediately appreciate.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Form -->
<div id="contact" class="container-fluid">
    <div class="row">
      <div class="mx-auto col-md-6 pe-0">
        <!-- Card -->
        <div class="card">
            <div class="card-body">
                <!-- Heading -->
                <div class="text-center mb-5 mb-md-9">
                    <h2>Get In Contact With Us</h2>
                </div>
                <!-- End Heading -->

                <!-- Form -->
                <form>
                    <div class="row gx-3">
                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-3">
                                <label class="form-label" for="hireUsFormFirstName">First name</label>
                                <input type="text" class="form-control form-control-lg" name="hireUsFormNameFirstName" id="hireUsFormFirstName" placeholder="First name" aria-label="First name" />
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->

                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-3">
                                <label class="form-label" for="hireUsFormLasttName">Last name</label>
                                <input type="text" class="form-control form-control-lg" name="hireUsFormNameLastName" id="hireUsFormLasttName" placeholder="Last name" aria-label="Last name" />
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->

                    <div class="row gx-3">
                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-3">
                                <label class="form-label" for="hireUsFormWorkEmail">Email address</label>
                                <input type="email" class="form-control form-control-lg" name="hireUsFormNameWorkEmail" id="hireUsFormWorkEmail" placeholder="email@site.com" aria-label="email@site.com" />
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->

                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-3">
                                <label class="form-label" for="hireUsFormPhone">Phone <span class="form-label-secondary">(Optional)</span></label>
                                <input type="text" class="form-control form-control-lg" name="hireUsFormNamePhone" id="hireUsFormPhone" placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xxx-xx-xx" />
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->

                    <div class="row gx-3">
                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-3">
                               <label class="form-label" for="exampleFormControlSelect1">Select <span class="form-label-secondary">(Agent)</span></label>
                               <select id="exampleFormControlSelect1" class="form-control">
                                 <option>Choose an agent</option>
                                 <option value="Jeff Landry">Jeff Landry</option>
                                 <option value="Rex Moroux">Rex Moroux</option>
                                 <option value="Tim Skinner">Tim Skinner</option>
                                 <option value="Eric Schexnayder">Eric Schexnayder</option>
                                 <option value="Ross Torian">Ross Torian</option>
                                 <option value="Braxton Higginbotham">Braxton Higginbotham</option>
                                 <option value="Jacob Anderson">Jacob Anderson</option>
                                 <option value="Teddy Beaullieu">Teddy Beaullieu</option>
                                 <option value="Diana Stephens">Diana Stephens</option>
                                 <option value="No Preference/First Available">No Preference/First Available</option>
                               </select>
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->

                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-3">
                               <label class="form-label" for="exampleFormControlSelect1">Select <span class="form-label-secondary">(Interest)</span></label>
                                  <select id="exampleFormControlSelect1" class="form-control">
                                      <option>Choose an Interest</option>
                                    <option value="Buying">Buying</option>
                                    <option value="Selling">Selling</option>
                                    <option value="Consulting Services">Consulting Services</option>
                                    <option value="Property Management">Property Management</option>
                                    <option value="Other">Other</option>
                                  </select>
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg">Send inquiry</button>
                    </div>

                    <div class="text-center">
                        <p class="form-text">By entering your information and clicking “Send” you agree to our Terms of
                            Use and Privacy Policy and that you may be contacted by phone or email about your inquiry.
                        </p>
                    </div>
                </form>
                <!-- End Form -->
            </div>
        </div>
        <!-- End Card -->
    </div>
      <div class="col-md-6 ps-0">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d441287.66311456624!2d-92.018158!3d30.221106999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86249d39147dbb39%3A0x8100b2b48fe9e739!2sScout%20Real%20Estate!5e0!3m2!1sen!2sus!4v1679084508727!5m2!1sen!2sus" style="border:0;width:100%;height:100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
</div>
<!-- End Contact Form -->

<div class="position-relative">
    <div class="container">
        <div class="row justify-content-end align-items-md-center">
            <div class="d-none d-md-block col-md-6 position-absolute top-0 start-0 bg-img-center h-100" style="background-image: url(../assets/img/SCOUT-ROCK-N-BOWL-RECTANGLE-scaled.jpg);"></div>
            <div class="d-md-none mb-5 mb-md-0">
                <img class="img-fluid" src="../assets/img/SCOUT-ROCK-N-BOWL-RECTANGLE-scaled.jpg" alt="Image Description" />
            </div>

            <div class="col-md-6">
                <div class="p-md-5 p-lg-7">
                    <!-- Heading -->
                    <div class="mb-4 mb-sm-7">
                        <h2>Recent Commercial</h2>
                        <h1>Sales Reports</h1>
                        <p>Our team at Scout Real Estate Co. works diligently each month to put together a bimonthly
                            index listing all commercial transactions over $500,000 in Lafayette and surrounding areas.
                            These reports go into full detail of recently sold commercial properties. Scout provides
                            this as a free service to our customers.
                        </p>
                    </div>
                    <!-- End Heading -->

                    <div class="d-grid d-sm-flex gap-3">
                        <a class="btn btn-primary btn-transition px-6" href="/newsletter/">NEWSLETTER</a>
                    </div>
                    <h4 class="mt-4">CLICK TO SUBSCRIBE TO OUR NEWSLETTER</h4>
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
</div>