---
layout: default
title: >-
    Scout Real Estate Co. - Acadiana's Premier Commercial Real Estate Brokers -
    Scout Real Estate Co. https://scoutrec.com
description: Test description
keywords:
page_banner:
    banner_title: Your Commercial Real Estate Broker
    sub_text: BROKERAGE | MANAGEMENT | CONSULTING
    button_link: /listings
    button_text: SEARCH LISTINGS
    background_image: ../assets/img/SCOUT-DOWNTOWN-VIEW.jpg
background_image_2: /uploads/img-3814.jpg
background_image_3: /uploads/img-3828.jpg
permalink: /
---
<div class="position-relative mt-0">
    <div class="container-fluid">
        <div class="row justify-content-end align-items-md-center my-4">
            <div class="d-none d-md-block col-md-6 position-absolute top-0 start-0 bg-img-center h-100" style="background-image: url({{page.background_image_2}});">
            </div>
            <div class="d-md-none mb-5 mb-md-0">
                <img class="img-fluid" src="{{page.background_image_2}}" alt="" />
            </div>
            <div class="col-md-6">
                <div class="p-md-5 p-lg-7">
                    <!-- Heading -->
                    <div class="mb-4 mb-sm-7 editable">
                        <h1>Commercial Listings</h1>
                        <h3>Let our agents help you</h3>
                        <h2>find the perfect commercial property.</h2>
                    </div>
                    <!-- End Heading -->
                    <!-- End Row -->
                    <div class="row">
                        {% assign sorted = site.properties | sort: 'featured' | reverse %}
                        {% for item in sorted limit: 3 %}
                        <div class="col-sm-6 col-lg-4 mb-3">
                          <!-- Card -->
                          <a class="card card-stretched-vertical card-transition shadow-none bg-img-start gradient-y-overlay-lg-dark" href="{{item.url}}" style="background-image: url({% for img in item.image[0] limit: 1 %}{{ img[1] }}{% endfor %}); min-height: 15rem;">
                            <div class="card-body">
                            {% if item.featured %}
                              <div class="mb-1">
                                <span class="badge bg-primary text-white">Featured</span>
                              </div>
                             {% endif %}
                              <div class="card-footer">
                                <h3 class="text-white mb-0">{{item.name}}</h3>
                                <span class="d-block text-white">${{item.price}}</span>
                              </div>
                            </div>
                          </a>
                          <!-- End Card -->
                        </div>
                        <!-- End Col -->
                         {% endfor %}
                    <div class="d-grid d-sm-flex gap-3">
                        <a class="btn btn-primary btn-transition px-6 text-uppercase" href="/listings">Search all listings</a>
                    </div>
                    </div>
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
</div>
<!-- Our History -->
<div class="d-flex gradient-x-overlay-sm-dark bg-img-start" style="background-image: url('../assets/img/SCOUT-DOWNTOWN-VIEW.jpg'); min-height: 15rem;">
    <div class="container blackscreen">
        <!-- Heading -->
        <div class="mb-7">
            <h1 class="display-6 text-white mb-6 mt-6 text-center editable">Our History</h1>
            <div class="container">
                <div class="row text-white">
                    <div class="col-md-6 editable">
                       <p class="lh-lg"> In 2018, our partners came together with the idea to build a new
                        commercial real estate model. We wanted
                        to service Lafayette and shape lasting relationships with client-partners looking to
                        succeed,
                        while also
                        enhancing the quality of life in their local community. Jeff Landry and Hammy Davis founded
                        Scout Real
                        Estate Co., a full-service commercial real estate, brokerage, management and consulting firm
                        based on
                        honesty, integrity and a rock-solid work ethic. In 2021, our leadership and management team
                        was
                        rounded
                        out with the addition of Rex Moroux, one of Acadiana’s foremost experts on commercial real
                        estate, with
                        an emphasis on downtown properties.
                       </p>
                    </div>
                    <div class="col-md-6 editable">
                        <p class="lh-lg">
                        Scout is less worried about the number of signs we put in the ground
                        and more committed to working on
                        projects that have a significant impact for our clients and our community. We are
                        experienced
                        and we
                        have a deep network that comes from years of hard work in the commercial real estate markets
                        across
                        South Louisiana. We provide our clients access to the most current technology and
                        information
                        all
                        combined with old-school techniques such as actually answering the phone, meeting with
                        people in
                        person
                        and dealing with challenges face-to-face. We know, it’s a radical approach in today’s
                        market,
                        but one
                        that you will immediately appreciate.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Meet our Team -->
<div id="ourteam" class="container content-space-2 content-space-lg-0 align-items-center">
    <div class="row py-8">
    <div class="w-md-75 w-lg-75 text-center mx-md-auto mb-5 mb-md-9">

        <h2 class="h1 editable">Meet the Scout Team</h2>
    </div>
    <!-- End Heading -->
    <div class="alignments">
        <div class="row gx-3 mb-5 mb-md-9 align-items-center justify-content-center">
            {% for post in site.data.broker %}
            <div class="col-sm-6 col-lg-3 mb-3 mb-lg-4 align-items-center">
                <!-- Card -->
                <div class="card card-transition h-100 shadow-none">
                    <img class="card-img-top" src="{{ post.image }}" alt="Image Description" />
                    <div class="card-body align-items-center p-2">
                        <h2 class="fs-4 text-dark text-center pb-3">{{ post.name }}{% if post.accreditation %}, {{post.accreditation}}{% endif %}<br />{{ post.title }}</h2>
                        <h5 class="card-text lh-base text-center fw-normal pb-5"><i class="fa fa-phone bg-transparent" aria-hidden="true"></i> {{ post.phone }}<br /><i class="fa fa-envelope bg-transparent" aria-hidden="true"></i> <a href="mailto:{{ post.email }}">{{ post.email }}</a></h5>
                    <div class="card-footer text-center p-2">
                        {% if post.listing-link %}
                         <div>
                            <a href="{{post.listing-link}}" class="btn btn-dark py-1 px-4 mx-auto">LISTINGS</a>
                        </div>
                        {% else %}
                       <div class="py-3"></div>
                        {% endif %}
                    </div>
                    </div>
                </div>
                <!-- End Card -->
            </div>
            <!-- End Col -->
            {% endfor %}
        </div>
    </div>
    <!-- End Row -->
    </div>
</div>
<!-- End Card Grid -->
<!-- Newsletter Section -->
<div class="position-relative my-4">
    <div class="container">
        <div class="row justify-content-end align-items-md-center">
            <div class="d-none d-md-block col-md-6 position-absolute top-0 start-0 bg-img-center h-100" style="background-image: url({{page.background_image_3}});"></div>
            <div class="d-md-none mb-5 mb-md-0">
                <img class="img-fluid" src="{{page.background_image_3}}" alt="Image Description" />
            </div>

            <div class="col-md-5">
                <div class="py-md-5 py-lg-10">
                    <!-- Heading -->
                    <div class="mb-4 mb-sm-7 editable">
                        <h1 class="editable">Scouting Lafayette</h1>
                        <p class="editable">Our team at Scout Real Estate Co. works diligently each month to put together a bimonthly
                            index listing all commercial transactions over $500,000 in Lafayette and surrounding areas.
                            These reports go into full detail of recently sold commercial properties. Scout provides
                            this as a free service to our customers.
                        </p>
                    </div>
                    <!-- End Heading -->

                    <div class="d-grid d-sm-flex gap-3">
                        <a class="btn btn-primary btn-transition px-6 editable" href="/newsletter/">Newsletters</a>
                    </div>
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
</div>
<!-- Contact Form -->
<!-- Contact Form -->
<div class="bg-primary">
  <div class=" container-fluid content-space-1 content-space-md-2 px-4 px-md-10 px-lg-12">
    <div class="row justify-content-lg-between align-items-lg-center">
      <div class="col-md-10 col-lg-4 mb-9 mb-lg-0 mx-auto">
        <!-- Info -->
        <h1 class="text-white">Contact Us</h1>
        <p class="text-white-70">Our objective is to provide valuable information and assistance. By delivering exceptional service and a comprehensive understanding of the Lafayette region, we aspire to secure your patronage.</p>
        <!-- End Info -->
        <div class="border-top border-white-10 my-5" style="max-width: 10rem;"></div>
        <!-- Blockquote -->
        <figure>
          <blockquote class="blockquote blockquote-light">“ Great people. Great company. First class service for all your commercial real estate needs.”</blockquote>
          <figcaption class="blockquote-footer blockquote-light">
            <div class="d-flex align-items-center">
              <div class="flex-grow-1">
              ~ Angi Davis
              </div>
            </div>
          </figcaption>
        </figure>
        <!-- End Blockquote -->
      </div>

      <div class="col-lg-5 mx-auto">
        <!-- Card -->
        <div class="card card-lg">
          <div class="card-body">
            <div class="mb-4">
              <h3 class="card-title">Fill out the form and we'll be in touch as soon as possible.</h3>
            </div>
            <!-- Form -->
           <form>
               <div class="row gx-3">
                   <div class="col-sm-6">
                       <!-- Form -->
                       <div class="mb-3">
                           <label class="form-label" for="hireUsFormFirstName">First name</label>
                           <input type="text" class="form-control form-control-lg" name="hireUsFormNameFirstName" id="hireUsFormFirstName" placeholder="First name" aria-label="First name" />
                       </div>
                       <!-- End Form -->
                   </div>
                   <!-- End Col -->
                   <div class="col-sm-6">
                       <!-- Form -->
                       <div class="mb-3">
                           <label class="form-label" for="hireUsFormLasttName">Last name</label>
                           <input type="text" class="form-control form-control-lg" name="hireUsFormNameLastName" id="hireUsFormLasttName" placeholder="Last name" aria-label="Last name" />
                       </div>
                       <!-- End Form -->
                   </div>
                   <!-- End Col -->
               </div>
               <!-- End Row -->
               <div class="row gx-3">
                   <div class="col-sm-6">
                       <!-- Form -->
                       <div class="mb-3">
                           <label class="form-label" for="hireUsFormWorkEmail">Email address</label>
                           <input type="email" class="form-control form-control-lg" name="hireUsFormNameWorkEmail" id="hireUsFormWorkEmail" placeholder="email@site.com" aria-label="email@site.com" />
                       </div>
                       <!-- End Form -->
                   </div>
                   <!-- End Col -->
                   <div class="col-sm-6">
                       <!-- Form -->
                       <div class="mb-3">
                           <label class="form-label" for="hireUsFormPhone">Phone <span class="form-label-secondary">(Optional)</span></label>
                           <input type="text" class="form-control form-control-lg" name="hireUsFormNamePhone" id="hireUsFormPhone" placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xxx-xx-xx" />
                       </div>
                       <!-- End Form -->
                   </div>
                   <!-- End Col -->
               </div>
               <!-- End Row -->
           
               <div class="row gx-3">
                   <div class="col-sm-6">
                       <!-- Form -->
                       <div class="mb-3">
                          <label class="form-label" for="exampleFormControlSelect1">Select <span class="form-label-secondary">(Agent)</span></label>
                          <select id="exampleFormControlSelect1" class="form-control">
                            <option>Choose an agent</option>
                            {% for item in site.data.broker %}
                            <option value="{{item.name}}">{{item.name}}</option>
                            {% endfor %}
                            <option value="No Preference/First Available">No Preference/First Available</option>
                          </select>
                       </div>
                       <!-- End Form -->
                   </div>
                   <!-- End Col -->
           
                   <div class="col-sm-6">
                       <!-- Form -->
                       <div class="mb-3">
                          <label class="form-label" for="exampleFormControlSelect1">Select <span class="form-label-secondary">(Interest)</span></label>
                             <select id="exampleFormControlSelect1" class="form-control">
                                 <option>Choose an Interest</option>
                               <option value="Buying">Buying</option>
                               <option value="Selling">Selling</option>
                               <option value="Consulting Services">Consulting Services</option>
                               <option value="Property Management">Property Management</option>
                               <option value="Other">Other</option>
                             </select>
                       </div>
                       <!-- End Form -->
                   </div>
                   <!-- End Col -->
               </div>
               <!-- End Row -->
               <div class="d-grid col-md-4 col-12 mt-4">
                   <button type="submit" class="btn btn-primary btn-lg editable rounded-0">Send</button>
               </div>
           </form>
            <!-- End Form -->
          </div>
        </div>
        <!-- End Card -->
      </div>
    </div>
  </div>
</div>
<!-- End Contact Form -->
<div id="contact" class="container-fluid d-none">
    <div class="row">
      <div class="mx-auto col-md-6 pe-0">
        <!-- Card -->
        <div class="card">
            <div class="card-body">
                <!-- Heading -->
                <div class="text-center mb-5 mb-md-9">
                    <h2 class="editable">Get In Contact With Us</h2>
                </div>
                <!-- End Heading -->

                <!-- Form -->
                <form>
                    <div class="row gx-3">
                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-3">
                                <label class="form-label" for="hireUsFormFirstName">First name</label>
                                <input type="text" class="form-control form-control-lg" name="hireUsFormNameFirstName" id="hireUsFormFirstName" placeholder="First name" aria-label="First name" />
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->

                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-3">
                                <label class="form-label" for="hireUsFormLasttName">Last name</label>
                                <input type="text" class="form-control form-control-lg" name="hireUsFormNameLastName" id="hireUsFormLasttName" placeholder="Last name" aria-label="Last name" />
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->

                    <div class="row gx-3">
                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-3">
                                <label class="form-label" for="hireUsFormWorkEmail">Email address</label>
                                <input type="email" class="form-control form-control-lg" name="hireUsFormNameWorkEmail" id="hireUsFormWorkEmail" placeholder="email@site.com" aria-label="email@site.com" />
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->

                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-3">
                                <label class="form-label" for="hireUsFormPhone">Phone <span class="form-label-secondary">(Optional)</span></label>
                                <input type="text" class="form-control form-control-lg" name="hireUsFormNamePhone" id="hireUsFormPhone" placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xxx-xx-xx" />
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->

                    <div class="row gx-3">
                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-3">
                               <label class="form-label" for="exampleFormControlSelect1">Select <span class="form-label-secondary">(Agent)</span></label>
                               <select id="exampleFormControlSelect1" class="form-control">
                                 <option>Choose an agent</option>
                                 {% for item in site.data.broker %}
                                 <option value="{{item.name}}">{{item.name}}</option>
                                 {% endfor %}
                                 <option value="No Preference/First Available">No Preference/First Available</option>
                               </select>
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->

                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-3">
                               <label class="form-label" for="exampleFormControlSelect1">Select <span class="form-label-secondary">(Interest)</span></label>
                                  <select id="exampleFormControlSelect1" class="form-control">
                                      <option>Choose an Interest</option>
                                    <option value="Buying">Buying</option>
                                    <option value="Selling">Selling</option>
                                    <option value="Consulting Services">Consulting Services</option>
                                    <option value="Property Management">Property Management</option>
                                    <option value="Other">Other</option>
                                  </select>
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg editable rounded-0">Send inquiry</button>
                    </div>

                    <div class="text-center">
                        <p class="form-text editable">By entering your information and clicking “Send” you agree to our Terms of
                            Use and Privacy Policy and that you may be contacted by phone or email about your inquiry.
                        </p>
                    </div>
                </form>
                <!-- End Form -->
            </div>
        </div>
        <!-- End Card -->
    </div>
     
    </div>
</div>
<!-- End Contact Form -->
