---
layout: default
title: Scout Real Estate Co. - Acadiana's Premier Commercial Real Estate Brokers
description: Test description
keywords:
page_banner:
  banner_title: Your Commercial Real Estate Partners
  sub_text: BROKERAGE | MANAGEMENT | CONSULTING
  button_link:
  button_text: SEARCH LISTINGS
  background_image: /uploads/img-3822.jpg
permalink: /commerical-listings
---
<!-- Hero -->
 <div class="position-relative overflow-hidden pt-10 mt-5">
   <div class="container">
     <div class="position-relative content-space-t-3 content-space-t-md-0 content-space-t-lg-3 content-space-b-2 content-space-b-md-3 content-space-b-xl-3">
       <div class="row position-relative zi-2 mt-md-n5">
         <div class="col-md-8 mb-7 mb-md-0">
           <!-- Heading -->
           <div class="w-md-75 mb-7">
             <h1 class="display-4">Discover your next<br />
               <span class="text-primary text-highlight-warning">
                 <span class="js-typedjs" data-hs-typed-options='{
                         "strings": ["investment", "business", "office space"],
                         "typeSpeed": 90,
                         "loop": true,
                         "backSpeed": 30,
                         "backDelay": 2500
                       }'></span>
               </span>
             </h1>
           </div>
           <!-- End Heading -->
           <form action="/search">
             <!-- Input Card -->
             <div class="input-card">
               <div class="input-card-form">
                 <label for="searchLocationForm" class="form-label visually-hidden">Search location</label>
                 <div id="search-container">
                 <div class="input-group input-group-merge">
                   <span class="input-group-prepend input-group-text">
                     <i class="bi-search"></i>
                   </span>

                   <input class="form-control form-control-lg" placeholder="Enter keyword" value="" name="q" id="search" type="text" />

                 </div>
                 </div>
               </div>

             </div>
             <!-- End Input Card -->
           </form>
         </div>
         <!-- End Col -->
       </div>
       <!-- End Row -->

       <div class="col-md-6 position-md-absolute top-0 end-0">
         <img class="img-fluid editable" alt="Lafayette Local Commercial Listings" src="/uploads/214jefferson-7.jpg" width="900" srcset="/uploads/214jefferson-7.jpg 1x, /uploads/214jefferson-7-2x.jpg 2x" />

         <!-- SVG Shape -->
         <div class="position-absolute bottom-0 end-0 zi-n1 mb-n10 me-n7" style="width: 12rem;">
           <img class="img-fluid" src="../assets/svg/components/dots-lg.svg" />
         </div>
         <!-- End SVG Shape -->
       </div>
     </div>
   </div>

 <div class="col-md-12 position-absolute top-0 start-0 zi-n1 gradient-y-three-sm-primary h-100" style="background-size: calc(1000px + (100vw - 1000px) / 2);"></div>
 </div>
 <!-- End Hero -->

 <!-- Card Grid -->
 <div class="container content-space-t-1 content-space-b-2 content-space-b-lg-3">
   <!-- Heading -->
   <div class="mb-5">
     <div class="row align-items-center">
       <div class="col-sm mb-3 mb-sm-0">
         <span class="d-block">{{i}} Properties</span>
         <h1 class="h2 mb-0">Property for sale</h1>
       </div>

     </div>
     <!-- End Row -->
   </div>
   <!-- End Heading -->
 <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 mb-5" id="all-listings">
     {% assign sorted = site.properties | sort: 'featured' | reverse %}
      {% assign sorted_by_price = sorted | sort: 'price' | reverse %}
     {% for property in sorted %}
     {% if property.featured == true %}
     <div class="col mb-3">
       <!-- Card -->
       <div class="card card-flush shadow-none h-100">
         <a class="card-pinned" href="{{property.url}}">
           <img class="card-img" src="{% for img in property.image[0] limit: 1 %}{{ img[1] }}{% endfor %}" alt="Image Description" />

           <div class="card-pinned-top-start">
             <span class="badge bg-primary">Featured</span>
           </div>
         </a>
         <!-- Body -->
         <a class="card-body" href="{{property.url}}">
           <span class="card-subtitle text-body">Status: <b>{{property.status}}</b></span>

           <div class="row align-items-center mb-3">
             <div class="col">
               <h4 class="card-title text-inherit">{{property.name}}</h4>
             </div>
             <!-- End Col -->

             <div class="col-auto">
               <h3 class="card-title text-primary">${{property.price | money}}</h3>
             </div>
             <!-- End Col -->
           </div>
           <!-- End Row -->

           <ul class="list-inline list-separator text-body small">

             <li class="list-inline-item">
             <i class="fa-regular fa-buildings"></i>
              {{property.property-subtype}}
             </li>
             <li class="list-inline-item">
               <i class="bi-rulers text-muted me-1"></i> {{property.SqFt}} sqft
             </li>
           </ul>
         </a>
         <!-- End Body -->
       </div>
       <!-- End Card -->
     </div>
     {% endif %}
     {% endfor %}

     {% for property in sorted_by_price %}
     {% if property.featured == false %}
     <div class="col mb-3">
       <!-- Card -->
       <div class="card card-flush shadow-none h-100">
         <a class="card-pinned" href="{{property.url}}">
           <img class="card-img" src="{% for img in property.image[0] limit: 1 %}{{ img[1] }}{% endfor %}" alt="Image Description" />
         </a>
         <!-- Body -->
         <a class="card-body" href="{{property.url}}">
           <span class="card-subtitle text-body">Status: <b>{{property.status}}</b></span>

           <div class="row align-items-center mb-3">
             <div class="col">
               <h4 class="card-title text-inherit">{{property.name}}</h4>
             </div>
             <!-- End Col -->

             <div class="col-auto">
               <h3 class="card-title text-primary">${{property.price | number_format}}</h3>
             </div>
             <!-- End Col -->
           </div>
           <!-- End Row -->

           <ul class="list-inline list-separator text-body small">
            {% if property.property-type == Land %}
            <li class="list-inline-item">
            <i class="fa-regular fa-expand-wide"></i>
             {{property.property-type}}
            </li>
            <li class="list-inline-item">
              <i class="bi-rulers text-muted me-1"></i> {{property.SqFt}} sqft
            </li>
            {% else %}
             <li class="list-inline-item">
             <i class="fa-regular fa-buildings"></i>
              {{property.property-type}}
             </li>
             <li class="list-inline-item">
               <i class="bi-rulers text-muted me-1"></i> {{property.SqFt}} sqft
             </li>
             {% endif %}
           </ul>
         </a>
         <!-- End Body -->
       </div>
       <!-- End Card -->
     </div>
     {% endif %}
     {% endfor %}
     <!-- End Col -->
   </div>
 <div id="results-container" class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 mb-5"></div>

 <script src="../assets/js/search-script.js" type="text/javascript"></script>
 <script>
 document.addEventListener('DOMContentLoaded', function () {
   // Get the query string from the URL
   const urlParams = new URLSearchParams(window.location.search);

   // Extract the value of the desired parameter (e.g., 'q')
   const queryValue = urlParams.get('q');

   // Select the input field using its 'id' attribute
   const inputField = document.getElementById('search');
   const allListings = document.getElementById('all-listings');
   const resultsContainer = document.getElementById('results-container');

   // Set the input field's value to the extracted query parameter value
   inputField.value = queryValue;

   // Perform the search using SimpleJekyllSearch
   window.simpleJekyllSearch = new SimpleJekyllSearch({
     noResultsText: 'No listings match that search',
     searchInput: inputField,
     resultsContainer: resultsContainer,
     json: '/search.json',
     searchResultTemplate: `<div class="col-4 mb-3">
       <div class="card card-flush shadow-none h-100">
         <a class="card-pinned" href="{url}">
           <img class="card-img" src="{image}" alt="Photo of {address} {city} {state}">
           <div class="card-pinned-top-start" id="{featured}">
             <span class="badge bg-primary">Featured</span>
           </div>
         </a>
         <a class="card-body" href="{url}">
           <span class="card-subtitle text-body">{property-subtype}</span>
           <div class="row align-items-center mb-3">
             <div class="col">
               <h4 class="card-title text-inherit">{address}</h4>
             </div>
             <div class="col-auto">
               <h3 class="card-title text-primary">$ {price | number_format}</h3>
             </div>
           </div>
           <ul class="list-inline list-separator text-body small">
             <li class="list-inline-item">
               <i class="fa-regular fa-buildings"></i>
               {property-type}
             </li>
             <li class="list-inline-item">
               <i class="bi-rulers text-muted me-1"></i> {SqFt} sqft
             </li>
           </ul>
         </a>
       </div>
     </div>`
   });

   // Hide all listings when the user types in the search input
   inputField.addEventListener('input', function () {
     if (inputField.value.trim() !== '') {
       allListings.style.display = 'none';
       resultsContainer.style.display = 'flex';
     } else {
       allListings.style.display = 'inline-flex';
       resultsContainer.style.display = 'none';
     }
   });

   // Manually trigger the input event to start the search if the queryValue exists
   if (queryValue) {
     inputField.dispatchEvent(new Event('input', { bubbles: true }));
   }
 });

 </script>

</div>
