---
layout: default
permalink: /newsletter
---
<div class="container pt-8">
<div class="row">
  {% for post in site.posts %}
  {% if forloop.first %}
  <!-- Card -->
  <div class="card card-stretched-vertical mb-10 px-0">
    <div class="row gx-0">
      <div class="col-lg-8">
        <div class="shape-container overflow-hidden">
          <img class="card-img" src="{{ post.image }}" alt="Image Description">

          <!-- Shape -->
          <div class="shape shape-end d-none d-lg-block zi-1">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 100.1 1920" height="101%">
              <path fill="#fff" d="M0,1920c0,0,93.4-934.4,0-1920h100.1v1920H0z" />
            </svg>
          </div>
          <!-- End Shape -->

          <!-- Shape -->
          <div class="shape shape-bottom d-lg-none zi-1">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
              <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"></path>
            </svg>
          </div>
          <!-- End Shape -->
        </div>
      </div>
      <!-- End Col -->

      <div class="col-lg-4">
        <!-- Card Body -->
        <div class="card-body">
          <h3 class="card-title">
            <a class="text-dark" href="{{ post.url }}">{{ post.title }}</a>
          </h3>
          <p class="card-text">{{post.date | date: "%B %d, %Y"}}</p>
          <p class="card-text">{{ post.news }}</p>

          
        </div>
        <!-- End Card Body -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Card -->
  {% endif %}
  {% endfor %}
</div>
<div class="row mb-7">
    {% for post in site.posts %}
    <div class="col-sm-6 col-lg-4 mb-4">
      <!-- Card -->
      <div class="card h-100">
        <div class="shape-container">
          <img class="card-img-top" src="{{ post.image }}" alt="Image Description">

          <!-- Shape -->
          <div class="shape shape-bottom zi-1" style="margin-bottom: -.25rem">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
              <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"></path>
            </svg>
          </div>
          <!-- End Shape -->
        </div>

        <!-- Card Body -->
        <div class="card-body">
          <h3 class="card-title">
            <a class="text-dark" href="{{ post.url }}">{{ post.title }}</a>
          </h3>
          <p class="card-text">{{post.date | date: "%B %d, %Y"}}</p>
          <p class="card-text">{{ post.news }}</p>
        </div>
        <!-- End Card Body -->
        
      </div>
      <!-- End Card -->
    </div>
    {% endfor %}
</div>
</div>
    <!-- End Col -->
