<!-- Card Grid -->
<div id="ourteam" class="container content-space-2 content-space-lg-0 align-items-center">
    <!-- Heading -->
    <h4 class="mb-3 text-left">OUR CULTURE</h4>
    <h2 class="mb-10 text-left">Rock solid work ethic with an emphasis on honesty, integrity and a deep and growing network of professional
        relationships.</h2>
    <div class="w-md-75 w-lg-75 text-center mx-md-auto mb-5 mb-md-9">
        
        <h2 class="h1">Meet Your Commercial Real Estate Team</h2>
    </div>
    <!-- End Heading -->
    <div class="alignments">
    <div class="row gx-3 mb-5 mb-md-9 align-items-center justify-content-center">
        {% for post in site.data.broker %}
        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-3 align-items-center">
            <!-- Card -->
            <a class="card card-transition h-100" href="#">
                <img class="card-img-top" src="{{ post.image }}" alt="Image Description">
                <div class="card-body align-items-center">
                    <span class="card-subtitle text-primary text-center">{{ post.name }}<br>{{ post.title }}</span>
                    <h5 class="card-text lh-base text-center">{{ post.phone }}<br>{{ post.email }}</h5>
                    <div class="alignments">
                        <button type="button" class="btn btn-dark mx-auto">LISTINGS</button>
                    </div>
                </div>
            </a>
            <!-- End Card -->
        </div>
        <!-- End Col -->
        {% endfor %}
    </div>
    </div>
    <!-- End Row -->
    <!-- end -->
</div>
<!-- End Card Grid -->
<!-- End Row -->