<!-- Testimonials -->
<div class="container content-space-2 content-space-lg-3">
    <div class="row display-4 align-items-md-center">
        <div class="col-md-5 d-none d-md-block">
            <img class="img-fluid rounded-2" src="../assets/img/COMMERCIAL-REL-ESTATE-e1658869169632.jpg" alt="Image Description">
        </div>
        <!-- End Col -->

        <div class="col-md-7">
            <!-- Blockquote -->
                <div class="col-lg-12 mb-9 mb-lg-0">
                    <div class="mb-3 display-4">
                      <h2 class="h1">FEATURED LISTINGS</h2>
                    </div>
          
                    <h2 class="fw-light">Let our agents help you</h2>
                    <h2 class="fw-bold">find the perfect commercial property.</h2>
          
                    <div class="mt-4">
                      <a class="btn btn-primary btn-transition px-5" href="#">VIEW ALL AVAILABLE PROPERTIES</a>
                    </div>
                  </div>
            <!-- End Blockquote -->
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
</div>
<!-- End Testimonials -->