<div class="container-fluid mx-0 px-0">
    <div class="row mx-0 px-0">
        <div class="col-sm mx-0 px-0">
            <div class="flip-card mx-0 px-0">
                <div class="flip-card-inner mx-0 px-0">
                    <div class="flip-card-front mx-0 px-0">
                        <i class="fa fa-hourglass-half fa-4x centerdiv" aria-hidden="true"></i>
                        <!-- <img src="../assets/img/380x360/img1.jpg" alt="Avatar" style="width:300px;height:300px;"> -->
                    </div>
                    <div class="flip-card-back mx-0 px-0 centerdiv">
                        <p>HISTORY</p>
                        <p>OUR STORY</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm mx-0 px-0">
            <div class="flip-card mx-0 px-0">
                <div class="flip-card-inner mx-0 px-0">
                    <div class="flip-card-front mx-0 px-0">
                        <div class="containter align-items-center justify-content-center">
                            <i class="fa fa-user fa-4x centerdiv" aria-hidden="true"></i>
                            <!-- <img src="../assets/img/380x360/img1.jpg" alt="Avatar" style="width:300px;height:300px;"> -->
                        </div>
                    </div>
                    <div class="flip-card-back mx-0 px-0 centerdiv">
                        <p>WHO WE ARE</p>
                        <p>MEET OUR TEAM</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm mx-0 px-0">
            <div class="flip-card mx-0 px-0">
                <div class="flip-card-inner mx-0 px-0">
                    <div class="flip-card-front mx-0 px-0">
                        <i class="fa fa-bullseye fa-4x centerdiv" aria-hidden="true"></i>
                        <!-- <img src="../assets/img/380x360/img1.jpg" alt="Avatar" style="width:300px;height:300px;"> -->
                    </div>
                    <div class="flip-card-back mx-0 px-0 centerdiv">
                        <p>WHERE WE WORK</p>
                        <p>Rock N' Bowl de Lafayette<br>5th Floor<br>905 Jefferson <br>St. Suite 504<br>Lafayette, LA 70501</p>
                        <p>MAP</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm mx-0 px-0">
            <div class="flip-card mx-0 px-0">
                <div class="flip-card-inner mx-0 px-0">
                    <div class="flip-card-front mx-0 px-0">
                        <i class="fa fa-question-circle fa-4x centerdiv" aria-hidden="true"></i>
                        <!-- <img src="../assets/img/380x360/img1.jpg" alt="Avatar" style="width:300px;height:300px;"> -->
                    </div>
                    <div class="flip-card-back mx-0 px-0 centerdiv">
                        <p>OUR WHY</p>
                        <p>SEE OUR MISSION</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm mx-0 px-0">
            <div class="flip-card mx-0 px-0">
                <div class="flip-card-inner mx-0 px-0">
                    <div class="flip-card-front mx-0 px-0">
                        <i class="fa fa-comments fa-4x centerdiv" aria-hidden="true"></i>
                    </div>
                    <div class="flip-card-back mx-0 px-0 centerdiv">
                        <p>GET IN TOUCH</p>
                        <p>CONTACT US</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <i class="fa fa-book fa-4x centerdiv" aria-hidden="true"></i>
                    </div>
                    <div class="flip-card-back mx-0 px-0 centerdiv">
                        <p>NEWSLETTERS</p>
                        <p>SEE REAL ESTATE REPORTS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>