<div class="container-fluid mx-0 px-0">
    <div class="row mx-0 px-0">
        <div class="col-sm mx-0 px-0">
            <div class="flip-card mx-0 px-0">
                <div class="flip-card-inner mx-0 px-0">
                    <div class="flip-card-front mx-0 px-0">
                        <img src="../assets/img/380x360/img1.jpg" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back mx-0 px-0">
                        <p>HISTORY</p>
                        <p>OUR STORY</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm mx-0 px-0">
            <div class="flip-card mx-0 px-0">
                <div class="flip-card-inner mx-0 px-0">
                    <div class="flip-card-front mx-0 px-0">
                        <img src="../assets/img/380x360/img1.jpg" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back mx-0 px-0">
                        <p>WHO WE ARE</p>
                        <p>MEET OUR TEAM</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm mx-0 px-0">
            <div class="flip-card mx-0 px-0">
                <div class="flip-card-inner mx-0 px-0">
                    <div class="flip-card-front mx-0 px-0">
                        <img src="../assets/img/380x360/img1.jpg" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back mx-0 px-0">
                        <p>WHERE WE WORK</p>
                        <p>Rock N' Bowl de Lafayette<br>5th Floor<br>905 Jefferson <br>St. Suite 504<br>Lafayette, LA 70501</p>
                        <p>MAP</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm mx-0 px-0">
            <div class="flip-card mx-0 px-0">
                <div class="flip-card-inner mx-0 px-0">
                    <div class="flip-card-front mx-0 px-0">
                        <img src="../assets/img/380x360/img1.jpg" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back mx-0 px-0">
                        <p>OUR WHY</p>
                        <p>SEE OUR MISSION</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm mx-0 px-0">
            <div class="flip-card mx-0 px-0">
                <div class="flip-card-inner mx-0 px-0">
                    <div class="flip-card-front mx-0 px-0">
                        <img src="../assets/img/380x360/img1.jpg" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back mx-0 px-0">
                        <p>GET IN TOUCH</p>
                        <p>CONTACT US</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-sm">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../assets/img/380x360/img1.jpg" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <p>NEWSLETTERS</p>
                        <p>SEE REAL ESTATE REPORTS</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>