<!-- ========== FOOTER ========== -->
<footer class="bg-dark position-absolute w-100">
  <div class="container pb-1 pb-lg-5">
    <div class="row content-space-t-1">
      <div class="col-lg-3 mb-7 mb-lg-0">
        <!-- Logo -->
        <div class="mb-6">
          <a class="navbar-brand" href="./index.html" aria-label="Space">
            <img class="navbar-brand-logo-second" src="/assets/svg/logos/SCOUT-WEBSITE-MAIN-LOGO (1).png"
              alt="Image Description">
          </a>
        </div>
        <!-- End Logo -->
      </div>
    </div>
      <div class="row">
        <div class="col-md-6">
        <!-- List -->
        <ul class="list-unstyled list-py-1">
          <h2 class="footeraddress">Address</h2>
          <li><a class="link-sm link-light" href="#"><i class="bi-geo-alt-fill me-1"></i> 905 Jefferson Ave.<br/>
              Suite 504<br/>
              Lafayette, LA 70501</a></li>
          <li><a class="link-sm link-light" href="tel:1-062-109-9222"><i class="bi-telephone-inbound-fill me-1"></i>
              (337) 443-08802</a></li>
        </ul>
        <!-- End List -->

      </div>
      <!-- End Col -->

      <div class="col-md-6">
        <h2 class="footeraddress">Mailing Address</h2>

        <!-- List -->
        <ul class="list-unstyled list-py-1 mb-0">
          <li><a class="link-sm link-light" href="#">P.O. Box 51125<br>Lafayette, LA 70505</a></li>
          <li><a class="link-sm link-light" href="#">info@scoutrec.com</a></li>
          <div class="col-sm-auto">
            <!-- Socials -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-soft-light btn-xs btn-icon" href="https://www.facebook.com/scoutrealestateco/" target="_blank">
                  <i class="bi-facebook"></i>
                </a>
              </li>

              <li class="list-inline-item">
                <a class="btn btn-soft-light btn-xs btn-icon" href="https://www.instagram.com/scoutrealestateco/" target="_blank">
                  <i class="bi-instagram"></i>
                </a>
              </li>

              <li class="list-inline-item">
                <a class="btn btn-soft-light btn-xs btn-icon" href="https://www.linkedin.com/company/scout-real-estate-co/" target="_blank">
                  <i class="bi-linkedin"></i>
                </a>
              </li>
            </ul>
        </ul>
        <!-- End List -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
    <div class="border-top border-white-10 my-7"></div>
    <div class="row mb-7">
      <div class="col-sm mb-3 mb-sm-0">
        <!-- Socials -->
        <ul class="list-inline list-separator list-separator-light mb-0">
          <li class="list-inline-item">
            <p class="text-white-50 small">&copy; Scout Real Estate. {{ site.time | date: "%Y" }}. All rights reserved. <a class="link-sm link-light" href="/privacy-policy">Privacy &amp; Policy</a></p>
          </li>
        </ul>
        <!-- End Socials -->
      </div>
    </div>
  </div>
</footer>

<!-- ========== END FOOTER ========== -->