

<!-- ========== FOOTER ========== -->
<footer class="bg-dark position-relative" id="contact" style="background-image: url(../assets/svg/components/wave-pattern-light.svg);">
  <div class="container position-relative z-2">
    <div class="text-center">

      <!-- Logo -->
      <a class="d-inline-flex align-items-center pt-4 mx-auto justify-content-center" href="/" aria-label="South Louisiana Commerical Real Estate">
        <img class="brand w-75" src="/assets/img/Scout_Full_Seal.png" alt="Scout Commerical Real Estate Logo" />
      </a>
      <!-- End Logo -->
      <p><i class="bi-geo-alt-fill me-1"></i> {{site.data.company_details.Addresses[0].address}}
             {{site.data.company_details.Addresses[0].address2}}
             {{site.data.company_details.Addresses[0].city-state-zip}}
        </p>
      <p class="text-white-70 small mb-1"> &copy; Scout Real Estate. {{ site.time | date: "%Y" }}. All rights reserved. <a class="link-sm link-light" title="Scout Privacy Policy" href="/privacy-policy">Privacy &amp; Policy</a></p>
    </div>
    <div class="row text-center py-2">
      <div class="col-12 mx-auto">
          <!-- Socials -->
          <ul class="list-inline mb-0">
            {% for social in site.data.company_details.social %}
            <li class="list-inline-item">
              <a class="btn btn-soft-light btn-xs btn-icon" href="{{social.link}}" title="Scout Commerical Real Estate {{social.name}} link" {% if social.link contains 'http' %}target="_blank"{% endif %}>
                <i class="bi bi-{{social.icon}}"></i>
              </a>
            </li>
            {% endfor %}
          </ul>
      </div>
    </div>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->
