<head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <!-- Title -->
    <title>Scout Real Estate Co. - Acadiana's Premier Commercial Real Estate Brokers - Scout Real Estate Co. https://scoutrec.com</title>
  
    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets/img/SCOUT-FAVICON-32x32.png">
  
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Outfit:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">
  
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../assets/vendor/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css">
    <link rel="stylesheet" href="../assets/vendor/aos/dist/aos.css">
  
    <!-- CSS Front Template -->
    <link rel="stylesheet" href="../assets/css/theme.css">
  </head>