<!-- History -->

<!-- Swiper Main Slider -->


<div class="d-flex gradient-x-overlay-sm-dark bg-img-start"
  style="background-image: url(../assets/img/SCOUT-DOWNTOWN-VIEW.jpg); min-height: 15rem;">
  <div class="container blackscreen">

    <!-- Heading -->
    <div class="mb-7">
      <h1 class="display-6 text-white mb-6 mt-6 text-center">Our History</h1>


      <div class="container">
        <div class="row text-white">
          <div class="col-md-6">
            In 2018, our partners came together with the idea to build a new
            commercial real estate model. We wanted
            to service Lafayette and shape lasting relationships with client-partners looking to
            succeed,
            while also
            enhancing the quality of life in their local community. Jeff Landry and Hammy Davis founded
            Scout Real
            Estate Co., a full-service commercial real estate, brokerage, management and consulting firm
            based on
            honesty, integrity and a rock-solid work ethic. In 2021, our leadership and management team
            was
            rounded
            out with the addition of Rex Moroux, one of Acadiana’s foremost experts on commercial real
            estate, with
            an emphasis on downtown properties.
          </div>
          <div class="col-md-6">
            Scout is less worried about the number of signs we put in the ground
            and more committed to working on
            projects that have a significant impact for our clients and our community. We are
            experienced
            and we
            have a deep network that comes from years of hard work in the commercial real estate markets
            across
            South Louisiana. We provide our clients access to the most current technology and
            information
            all
            combined with old-school techniques such as actually answering the phone, meeting with
            people in
            person
            and dealing with challenges face-to-face. We know, it’s a radical approach in today’s
            market,
            but one
            that you will immediately appreciate.
          </div>
        </div>
      </div>
    </div>
    <!-- End Title & Description -->
  </div>
</div>