<!-- History -->
<div class="position-relative">
    <!-- Swiper Main Slider -->
    <div class="js-swiper-blog-journal-hero swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide d-flex gradient-x-overlay-sm-dark bg-img-start" style="background-image: url(../assets/img/SCOUT-DOWNTOWN-VIEW.jpg); min-height: 15rem;">
            <div class="container position-relative zi-2 content-space-3 content-space-md-5">
                <div class="w-md-75 w-xl-65 text-center mx-md-auto">
                    <!-- Heading -->
                    <div class="mb-7">
                        <h1 class="display-6 text-white mb-6">Our History</h1>
        
        
                        <div class="container">
                            <div class="row text-white">
                                <div class="col-sm">
                                    In 2018, our partners came together with the idea to build a new
                                    commercial real estate model. We wanted
                                    to service Lafayette and shape lasting relationships with client-partners looking to
                                    succeed,
                                    while also
                                    enhancing the quality of life in their local community. Jeff Landry and Hammy Davis founded
                                    Scout Real
                                    Estate Co., a full-service commercial real estate, brokerage, management and consulting firm
                                    based on
                                    honesty, integrity and a rock-solid work ethic. In 2021, our leadership and management team
                                    was
                                    rounded
                                    out with the addition of Rex Moroux, one of Acadiana’s foremost experts on commercial real
                                    estate, with
                                    an emphasis on downtown properties.
                                </div>
                                <div class="col-sm">
                                    Scout is less worried about the number of signs we put in the ground
                                    and more committed to working on
                                    projects that have a significant impact for our clients and our community. We are
                                    experienced
                                    and we
                                    have a deep network that comes from years of hard work in the commercial real estate markets
                                    across
                                    South Louisiana. We provide our clients access to the most current technology and
                                    information
                                    all
                                    combined with old-school techniques such as actually answering the phone, meeting with
                                    people in
                                    person
                                    and dealing with challenges face-to-face. We know, it’s a radical approach in today’s
                                    market,
                                    but one
                                    that you will immediately appreciate.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Title & Description -->
                </div>
            </div>
        </div>
  
        
      </div>
  
      <!-- Swiper Pagination -->
      <div class="js-swiper-blog-journal-hero-pagination swiper-pagination swiper-pagination-light swiper-pagination-vertical swiper-pagination-middle-y-end me-3 d-lg-none"></div>
    </div>
    <!-- End Swiper Main Slider -->
  
    <!-- Swiper Thumbs Slider -->
    <div class="d-none d-lg-block container translate-middle-y position-absolute top-50 start-0 end-0 zi-2">
      <div class="translate-middle-y position-absolute top-50 end-0">
        <div class="js-swiper-blog-journal-hero-thumbs swiper" style="opacity:0;max-width: 13rem;">
          <div class="swiper-wrapper">
            <!-- Slide -->
            <div class="swiper-slide swiper-pagination-progress swiper-pagination-progress-light">
              <p class="text-white">Front Interview with a Lead Designer of the Hubble</p>
  
              <div class="swiper-pagination-progress-body">
                <div class="js-swiper-pagination-progress-body-helper swiper-pagination-progress-body-helper"></div>
              </div>
            </div>
            <!-- End Slide -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Swiper Thumbs Slider -->
  </div>
  <!-- End History -->