
 <!-- ========== HEADER ========== -->
 <header id="header" class="navbar navbar-expand-lg navbar-end navbar-absolute-top navbar-dark navbar-show-hide {% if page.layout != 'default' %}bg-dark {% endif %}"
 data-hs-header-options='{
   "fixMoment": 1000,
   "fixEffect": "slide"
 }'>
<!-- Topbar -->
<div class="container navbar-topbar">
<nav class="js-mega-menu navbar-nav-wrap">
<!-- Toggler -->
<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#topbarNavDropdown" aria-controls="topbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
 <span class="d-flex justify-content-between align-items-center small">
   <span class="navbar-toggler-text">Topbar</span>

   <span class="navbar-toggler-default">
     <i class="bi-chevron-down ms-2"></i>
   </span>
   <span class="navbar-toggler-toggled">
     <i class="bi-chevron-up ms-2"></i>
   </span>
 </span>
</button>
<!-- End Toggler -->
</nav>
</div>
<!-- End Topbar -->

<div class="container">
<nav class="js-mega-menu navbar-nav-wrap">
<!-- Default Logo -->
<a class="navbar-brand" href="/" aria-label="Front">
 <img class="navbar-brand-logo" src="/assets/svg/logos/SCOUT-WEBSITE-MAIN-LOGO (1).png" alt="Logo">
</a>
<!-- End Default Logo -->

<!-- Toggler -->
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
 <span class="navbar-toggler-default">
   <i class="bi-list"></i>
 </span>
 <span class="navbar-toggler-toggled">
   <i class="bi-x"></i>
 </span>
</button>
<!-- End Toggler -->
<!-- Collapse -->
<div class="collapse navbar-collapse" id="navbarNavDropdown">
 <div class="navbar-absolute-top-scroller">
   <ul class="navbar-nav">
     <!-- Landings -->
     <li class="hs-has-mega-menu nav-item">
       <a id="landingsMegaMenu" class="hs-mega-menu-invoker nav-link " aria-current="page" href="/listings" role="button" aria-expanded="false">SEARCH LISTINGS</a>
      </li>

     <!-- Company -->
     <li class="hs-has-sub-menu nav-item">
       <a id="teamMegaMenu" class="hs-mega-menu-invoker nav-link " href="/#ourteam" role="button" aria-expanded="false">OUR TEAM</a>
     </li>
     <!-- End Company -->

     <!-- Account -->
     <li class="hs-has-sub-menu nav-item">
       <a id="newsletterMegaMenu" class="hs-mega-menu-invoker nav-link " href="/newsletter" role="button" aria-expanded="false">NEWSLETTER</a>

     </li>
     <!-- End Account -->
     <!-- Pages -->
     <li class="nav-item dropdown">
       <a id="servicesMegaMenu" class="hs-mega-menu-invoker nav-link" href="/services" role="button" aria-expanded="false">SERVICES</a>
     </li>
     <!-- End Pages -->
     <!-- Button -->
     <li class="nav-item">
       <a class="btn btn-light btn-transition" href="/#contact">CONTACT US</a>
     </li>
     <!-- End Button -->
   </ul>
 </div>
</div>
<!-- End Collapse -->
</nav>
</div>
</header>
