<!-- Testimonials -->
<div class="container content-space-2 content-space-lg-3">
    <div class="row display-4 align-items-md-center">
        <div class="col-md-5 d-none d-md-block">
            <img class="img-fluid rounded-2" src="../assets/img/SCOUT-ROCK-N-BOWL-RECTANGLE-scaled.jpg" alt="Image Description">
        </div>
        <!-- End Col -->

        <div class="col-md-7">
            <!-- Blockquote -->
                <div class="col-lg-12 mb-9 mb-lg-0">          
                    <h2 class="fw-light">Recent Commercial</h2>
                    <h2 class="fw-bold">Sales Report</h2>
                    <h4 class="fw-light">Our team at Scout Real Estate Co. works diligently each month to put together a bimonthly index listing all commercial transactions over $500,000 in Lafayette and surrounding areas. These reports go into full detail of recently sold commercial properties. Scout provides this as a free service to our customers.</h4>
                    <div class="mt-4">
                      <a class="btn btn-primary btn-transition px-5" href="#">NEWSLETTERS</a>
                    </div>
                    <a href="/newsletter" target="_blank"><h4 class="fw-light">CLICK TO SUBSCRIBE TO OUR NEWSLETTER</h4></a>
                    
                  </div>
            <!-- End Blockquote -->
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
</div>
<!-- End Testimonials -->