
 <!-- JS Global Compulsory  -->
  <script src="/../../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- JS Implementing Plugins -->
  <script src="/../../assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
  <script src="/../../assets/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
  <script src="/../../assets/vendor/typed.js/lib/typed.min.js"></script>
  <script src="/../../assets/vendor/fslightbox/index.js"></script>
  <script src="/../../assets/vendor/hs-sticky-block/dist/hs-sticky-block.min.js"></script>
  <script src="/../../assets/vendor/hs-nav-scroller/dist/hs-nav-scroller.min.js"></script>
  <script src="/../../assets/vendor/hs-scrollspy/dist/hs-scrollspy.min.js"></script>
  <script src="/../../assets/vendor/aos/dist/aos.js"></script>
  <script src="/../../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <!-- JS Front -->
  <script src="/../../assets/js/theme.min.js"></script>
  <script src="/../../assets/js/theme-custom.js"></script>

  <link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css">
  <script defer src="https://sibforms.com/forms/end-form/build/main.js"></script>
{% if page.name == 'articles.html' %}
  <script>
    (function() {
      // INITIALIZATION OF SWIPER
      // =======================================================
      var responsiveBreakpoint = new Swiper('.js-swiper-responsive-breakpoint', {
        slidesPerView: 2,
        spaceBetween: 10,
        autoHeight: true,
        loop: true,
        pagination: {
          el: '.js-swiper-responsive-breakpoint-pagination',
          clickable: true,
        },
        breakpoints: {
          640: {
            slidesPerView: 2,
            spaceBetween: 20,
          },
          768: {
            slidesPerView: 2,
            spaceBetween: 40,
          },
          1024: {
            slidesPerView: 4,
            spaceBetween: 50,
          },
          navigation: {
            nextEl: '.js-swiper-responsive-breakpoint-button-next',
            prevEl: '.js-swiper-responsive-breakpoint-button-prev',
          },
        }
      });
    })()
  </script>
{% endif %}
