 
 
 <!-- JS Global Compulsory  -->
  <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="../assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
  <script src="../assets/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
  <script src="../assets/vendor/typed.js/lib/typed.min.js"></script>
  <script src="../assets/vendor/fslightbox/index.js"></script>
  <script src="../assets/vendor/hs-sticky-block/dist/hs-sticky-block.min.js"></script>
  <script src="../assets/vendor/hs-nav-scroller/dist/hs-nav-scroller.min.js"></script>
  <script src="../assets/vendor/leaflet/dist/leaflet.js"></script>
  <!-- JS Front -->
  <script src="../assets/js/theme.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css">
  <script data-cfasync="false" src="https://cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
		window.REQUIRED_CODE_ERROR_MESSAGE = 'Please choose a country code';
		window.LOCALE = 'en';
									window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "The information provided is invalid. Please review the field format and try again.";
  
									window.REQUIRED_ERROR_MESSAGE = "This field cannot be left blank. ";
  
		window.GENERIC_INVALID_MESSAGE = "The information provided is invalid. Please review the field format and try again.";
  
		
		
		
		window.translation = {
			common: {
				selectedList: '{quantity} list selected',
				selectedLists: '{quantity} lists selected'
			}
		};
  
		var AUTOHIDE = Boolean(0);
	</script>
	<script>
	  ;(function (d, s, c) {
		  var j = d.createElement(s),
			t = d.getElementsByTagName(s)[0]
		  j.src = "https://sibforms.com/forms/end-form/elastic-apm-rum.umd.min.js"
		  j.onload = function () { elasticApm.init(c) }
		  t.parentNode.insertBefore(j, t)
	  })(document, 'script', { serviceName: 'End Forms', serverUrl: 'https://596808a16dec4fc39413bf34b0a70240.apm.eu-west-1.aws.cloud.es.io:443' , environment : 'production'})
	</script>
  <script defer src="https://sibforms.com/forms/end-form/build/main.js"></script>
  <script>
	  function getCookie(name) {
		  const value = '; ' + document.cookie;
		  const parts = value.split('; ' + name + '=');
		  if (parts.length === 2) return parts.pop().split(';').shift();
		}
	  
		function setCookie(name, value, days) {
		  const d = new Date();
		  d.setTime(d.getTime() + (days * 24 * 60 * 60 * 1000));
		  const expires = 'expires=' + d.toUTCString();
		  document.cookie = name + '=' + value + '; ' + expires + '; path=/';
		}
	  
		$(function() {
		  const cookieName = 'modalShown';
		  const cookieValue = getCookie(cookieName);
	  
		  if (!cookieValue) {
			setTimeout(function() {
			  $('#exampleModalCenter').modal('show');
			  $('#exampleModalCenter').on('hidden.bs.modal', function() {
				const daysIn9999Years = 9999 * 365;
				setCookie(cookieName, 'true', daysIn9999Years);
			  });
			}, 5000);
		  }
		});
	</script>
  <!-- JS Plugins Init. -->
  <script>
	(function() {
	  // INITIALIZATION OF MEGA MENU
	  // =======================================================
	
	
	  // INITIALIZATION OF BOOTSTRAP VALIDATION
	  // =======================================================
	  HSBsValidation.init('.js-validate', {
		onSubmit: data => {
		  data.event.preventDefault()
		  alert('Submited')
		}
	  })
	
	
	  // INITIALIZATION OF BOOTSTRAP DROPDOWN
	  // =======================================================
	  HSBsDropdown.init()
	
	
	  // INITIALIZATION OF GO TO
	  // =======================================================
	  new HSGoTo('.js-go-to')
	
	
	  // INITIALIZATION OF TEXT ANIMATION (TYPING)
	  // =======================================================
	  HSCore.components.HSTyped.init('.js-typedjs')
	  // INITIALIZATION OF STICKY BLOCKS
		// =======================================================
		new HSStickyBlock('.js-sticky-block', {
		  targetSelector: document.getElementById('header').classList.contains('navbar-fixed') ? '#header' : null
		})
	  
	  
		// INITIALIZATION OF NAV SCROLLER
		// =======================================================
		new HsNavScroller('.js-nav-scroller')
	  
	  
		// INITIALIZATION OF LEAFLET
		// =======================================================
		var tabEl = document.querySelector('[data-bs-target="#propertyOverviewNavThree"]')
		tabEl.addEventListener('shown.bs.tab', function (event) {
		  $mapContainerEl = document.getElementById('map')
		  if ($mapContainerEl.classList.contains('leaflet-container')) return
	  
		  const leaflet = HSCore.components.HSLeaflet.init($mapContainerEl)
	  
		  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
			id: 'mapbox/light-v9'
		  }).addTo(leaflet)
		})
	})()
  </script>