.phone {
	color: inherit;
	pointer-events: none;
	text-decoration: none;
}
.card-img-Diana{
	max-height: 261px;
	object-fit: cover;
}
#listing img{
	max-width: 100%;
}
.listing-img{
height: 15em;
object-fit: cover;
}
@media only screen and (max-width: 735px) {
	.phone {
		color: #A7B7A9;
		pointer-events: auto;
		text-decoration: none;
	}
	.card-img-Diana{
		max-height: 100%;
		object-fit: cover;
	}
	/* .card-img, .card-img-top{
		height: 200px !important;
		object-position: top !important;
	} */
	.team h2, h5{
	font-size: 	0.875rem !important
	}
}
@media only screen and (max-width: 600px){
	.banner-content{
		min-height: 25rem !important;
	}
	.title {
		font-size: .65em !important;
	}
}
.title {
	font-size: inherit
}
.bloglist-img{
	max-height: 25rem;
}
.bloglist-img .card-title {
	min-height:5em;
}
/* .team .card-text{
	min-height: 7vh
} */
.property_secondary_image {
	object-fit: cover;
	height: 13.5em !important;
	object-position: center;
}

.property_main_image {
	object-fit: cover;
	height: 27.5em !important;
	object-position: center;
}

.banner-content{
	min-height: 40rem;
}
.card-pinned-top-start#true{
	visibility: visible;
}
.card-pinned-top-start#false{
	visibility: hidden;
}
.background-center-right{
	background-position: 90% !important;
}
#blog img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    max-height: 800px;
}
/* .blog a:link {
	color: #fff;
	text-decoration: none;
} */
.object-cover{
	object-fit: cover
}
.sib_class_14_black_reg{display: none;}
.crt-logo.crt-tag{
	opacity: 0 !important;
	visibility: hidden !important;
	pointer-events: none !important;
}
#curator-feed-default-feed-layout{
	padding-bottom: 0 !important;
}
#leaseform iframe{
	max-height: 299px !important;
	height:275px !important;
	overflow: hidden;
}
