.phone {
	color: inherit;
	pointer-events: none;
	text-decoration: none;
}

@media only screen and (max-width: 735px) {
	.phone {
		color: #A7B7A9;
		pointer-events: auto;
		text-decoration: none;
	}
	.card-img, .card-img-top{
		height: 200px !important;
		object-position: top !important;
	}
	.team h2, h5{
	font-size: 	0.875rem !important
	}
}
@media only screen and (max-width: 600px){
	.banner-content{
		min-height: 25rem !important;
	}
	.title {
		font-size: .65em !important;
	}
}
.title {
	font-size: inherit
}
.property_secondary_image {
	object-fit: cover;
	height: 13.5em !important;
	object-position: center;
}

.property_main_image {
	object-fit: cover;
	height: 27.5em !important;
	object-position: center;
}

.banner-content{
	min-height: 40rem;
}
.card-pinned-top-start#true{
	visibility: visible;
}
.card-pinned-top-start#false{
	visibility: hidden;
}