.phone {
	color: inherit;
	pointer-events: none;
	text-decoration: none;
}

@media only screen and (max-width: 735px) {
	.phone {
		color: #A7B7A9;
		pointer-events: auto;
		text-decoration: none;
	}
	.card-img, .card-img-top{
		height: 100% !important;
	}
}

.property_secondary_image {
	object-fit: cover;
	height: 13.5em !important;
	object-position: center;
}

.property_main_image {
	object-fit: cover;
	height: 27.5em !important;
	object-position: center;
}

