<!DOCTYPE html>
<html lang="en" dir="">
{% include header.html %}
<body>
  <!-- Navbar -->
{% include navbar.html %}
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
  <!-- Hero -->
  <div class="position-relative">
      <div class="js-swiper-blog-journal-hero">
        <div class="swiper-wrapper">
          <div class="swiper-slide d-flex gradient-x-overlay-sm-dark bg-img-center" style="background-image: url('{{page.page_banner.background_image}}');">
            <!-- Container -->
            <div class="container d-flex align-items-center mt-md-3 mt-8 banner-content">
              <div class="col-lg-6 col-12 me-md-3">
                <div class="mb-7">
                  <h3 class="display-4 text-white mt-6 mb-1">{{page.page_banner.banner_title}}</h3>
                  <p class="lead fs-5 text-white mt-4 mb-4">{{page.page_banner.sub_text}}</p>
                </div>
                {% if page.page_banner.button_link %}
                <a class="btn btn-outline-light btn-transition px-6" href="{{page.page_banner.button_link}}">{{page.page_banner.button_text}}</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
  <!-- End Hero -->
  {{content}}
  </main>
  <!-- ========== END MAIN CONTENT ========== -->
{% include footer.html %}
{% include scripts.html %}

</body>
</html>
