<!DOCTYPE html>
<html lang="en" dir="">
{% include header.html %}
<body>
  <!-- Navbar -->
{% include navbar.html %}
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
	  <!-- Hero -->
	  <div class="bg-dark vh-70" style="background-image: url({{page.image}});background-position: center">
		<div class="container content-space-2 content-space-lg-4">
		  <div class="w-lg-65 text-center mx-lg-auto">
		  </div>
		</div>
	  </div>
	  <!-- End Hero -->
	  <!-- Content -->
	  <div class="container content-space-2 content-space-lg-0">
		<div class="row">
		  <div class="col-lg-4 mt-lg-n10 mb-7 mb-lg-0">
			<!-- Sticky Block -->
			<div id="stickyBlockStartPoint">
			  <div class="js-sticky-block" data-hs-sticky-block-options='{
					 "parentSelector": "#stickyBlockStartPoint",
					 "targetSelector": "#header",
					 "breakpoint": "lg",
					 "startPoint": "#stickyBlockStartPoint",
					 "endPoint": "#stickyBlockEndPoint",
					 "stickyOffsetTop": 20
				   }'>
				<!-- Card -->
				<div class="card">
				  <div class="card-header border-bottom text-center">
					<h1>{{page.name}}</h1>
				  </div>

				  <div class="card-body">

					<dl class="row">
					  <dt class="col-sm-4">Location</dt>
					  <dd class="col-sm-8">{{page.location}}</dd>
					</dl>
					<!-- End Row -->

					<dl class="row">
					  <dt class="col-sm-4">Type</dt>
					  <dd class="col-sm-8">{{page.type}}</dd>
					</dl>
					<!-- End Row -->
					{% if page.website %}
					<dl class="row">
					  <dt class="col-sm-4">Website</dt>
					  <dd class="col-sm-8"><a href="{{page.website}}" target="_blank">{{ page.website | remove: 'https://' | remove: '/' | remove: 'www.' }}</a></dd>
					</dl>
					<!-- End Row -->
					{% endif %}
				  </div>
				</div>
				<!-- End Card -->
			  </div>
			</div>
			<!-- Sticky Block -->
		  </div>
		  <!-- End Col -->

		  <div class="col-lg-8 content-space-t-lg-2">
			<div class="ps-lg-4 pb-7" id="listing">
				{{content}}
			  <!-- End Sticky End Point -->
			  <div id="stickyBlockEndPoint"></div>
			</div>
		  </div>
		  <!-- End Col -->
		</div>
		<!-- End Row -->
	  </div>
	  <!-- End Content -->


  </main>
  <!-- ========== END MAIN CONTENT ========== -->
{% include footer.html %}
{% include scripts.html %}
<script src="/../../assets/vendor/hs-sticky-block/dist/hs-sticky-block.min.js"></script>
</body>
</html>
