<!DOCTYPE html>
<html lang="en" dir="">
{% include header.html %}
<body>
  <!-- Navbar -->
{% include navbar.html %}
  <!-- ========== MAIN CONTENT ========== -->
<main class="h-100">
  <div class="{% if page.url == "/listings" %}{% else %}container{% endif %} pt-10 mt-10">
      <div class="row pb-4">
          <div class="col-md-12" id="blog">
            {% capture cat %}{{page.categories}}{% endcapture %}
            {% if cat == 'newsletter' %}
            <link rel="stylesheet" href="../assets/css/sendinblue.css">
            {% endif %}
          
             {{ content }}
          </div>
      </div>
  </div>
</main>
   <!-- ========== END MAIN CONTENT ========== -->
 {% include footer.html %}
 {% include scripts.html %}
 </body>
 </html>