<!DOCTYPE html>
<html lang="en" dir="">
{% include header.html %}
<body class="blog">
  <!-- Navbar -->
{% include navbar.html %}
  <!-- ========== MAIN CONTENT ========== -->
<main class="h-100">
  <div class="container pt-10 mt-10">
      <div class="row pb-4">
          <div class="col-md-12" id="blog">
             {{ content }}
          </div>
      </div>
  </div>
</main>
   <!-- ========== END MAIN CONTENT ========== -->
 {% include footer.html %}
 {% include scripts.html %}
 </body>
 </html>
