<!DOCTYPE html>
<html lang="en" dir="">
{% include header.html %}
<link rel="stylesheet" href="../assets/vendor/leaflet/dist/leaflet.css">

<body>
  <!-- Navbar -->
  {% include navbar.html %}
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <div class="container content-space-t-4 pb-3">
      <div class="row align-items-lg-center">
        <div class="col-lg mb-2 mb-lg-0">
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0" id="breadcrumb">
              <!-- Breadcrumb items will be dynamically generated here -->
            </ol>
          </nav>
          <!-- End Breadcrumb -->
        </div>
        <!-- End Col -->
        <div class="col-lg-auto">
          <a class="btn btn-sm btn-ghost-secondary" href="javascript:;">
            <i class="bi-share-fill me-2"></i> Share
          </a>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Breadcrumb -->
    <!-- Gallery -->
    <div class="container mb-5">
      <div class="rounded-2 overflow-hidden">
        <div class="row gx-2">
          <div class="col-md-8">
            {% for images in page.image limit:1 %}
            <!-- Gallery -->

            <a class="d-block position-relative" href="{{images.image_file}}" data-fslightbox="propertyOverviewGallery">
              <img class="property_main_image img-fluid w-100" src="{{images.image_file}}" alt="{{page.name}}">

              <div class="position-absolute bottom-0 end-0 mb-3 me-3">
                <span class="d-md-none btn btn-sm btn-light">
                  <i class="bi-arrows-fullscreen me-2"></i> View photos
                </span>
              </div>
            </a>
            <!-- End Gallery -->
            {% endfor %}
          </div>
          <!-- End Col -->
          <div class="col-md-4 d-none d-md-inline-block">
            <!-- Gallery -->
            {% for images in page.image offset:1 limit:2 %}
            <a class="d-block {% if forloop.last %} position-relative {% else %} mb-2 {% endif %}" href="{{images.image_file}}" data-fslightbox="propertyOverviewGallery">
              <img class="property_secondary_image img-fluid w-100" src="{{images.image_file}}" alt="Image Description">
                {% if forloop.last %}
                <div class="position-absolute bottom-0 end-0 mb-3 me-3">
                <span class="d-none d-md-inline-block btn btn-sm btn-light">
                  <i class="bi-arrows-fullscreen me-2"></i> View photos
                </span>
              </div>
              {% endif %}
            </a>
            {% endfor %}

            <!-- End Gallery -->
            {% for images in page.image offset:3 %}
            <a class="d-none" href="{{images.image_file}}" data-fslightbox="propertyOverviewGallery"></a>
            {% endfor %}
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>

      <div class="d-flex justify-content-end mt-2">
        <span class="small text-dark fw-semibold me-1">Status: </span>
        <span class="badge bg-primary text-white">{{page.status}}</span>
      </div>
    </div>
    <!-- End Gallery -->

    <!-- Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-9 mb-lg-0">
          <div class="row justify-content-lg-between mb-7">
            <div class="col-12 col-sm-6 mb-5 mb-sm-0">
              <h1 class="h2 mb-0">{{page.address}}</h1>
              <span class="d-block text-dark mb-3">{{page.city}}, {{page.state}}, {{page.country}}</span>

              <ul class="list-inline list-separator font-size-1 text-body">
                <li class="list-inline-item">
                  <i class="fas fa-sharp fa-solid fa-building text-muted me-1"></i> property type:
                  {{page.property-type}}
                </li>
                <li class="list-inline-item">
                  <i class="fas fa-ruler-combined text-muted me-1"></i> {{page.SqFt}} sqft
                </li>
                <li class="list-inline-item">
                  <i class="fas fa-sharp fa-solid fa-rotate text-muted me-1"></i> last updated: {{page.last-updated}}
                </li>
              </ul>
            </div>
            <div class="col-sm-6 column-divider-sm">
              <div class="pl-md-4">
                <h2 class="mb-0">${{page.price | money}}</h2>
                <span class="d-block text-dark mb-3">Price/SqFt: {{page.Price-SqFt}}</span>
              </div>
            </div>
          </div>
          <!-- End Row -->
          <!-- Nav Scroller -->
          <div class="js-nav-scroller hs-nav-scroller-horizontal">
            <span class="hs-nav-scroller-arrow-prev" style="display: none;">
              <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                <i class="bi-chevron-left"></i>
              </a>
            </span>

            <span class="hs-nav-scroller-arrow-next" style="display: none;">
              <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                <i class="bi-chevron-right"></i>
              </a>
            </span>

            <!-- Nav -->
            <ul class="nav nav-segment nav-fill mb-7" id="propertyOverviewNavTab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" href="#propertyOverviewNavOne" id="propertyOverviewNavOne-tab"
                  data-bs-toggle="tab" data-bs-target="#propertyOverviewNavOne" role="tab"
                  aria-controls="propertyOverviewNavOne" aria-selected="true" style="min-width: 7rem;">Details</a>
              </li>

              <li class="nav-item" role="presentation">
                <a class="nav-link" href="#propertyOverviewNavTwo" id="propertyOverviewNavTwo-tab" data-bs-toggle="tab"
                  data-bs-target="#propertyOverviewNavTwo" role="tab" aria-controls="propertyOverviewNavTwo"
                  aria-selected="false" style="min-width: 7rem;">Plans</a>
              </li>

              <li class="nav-item" role="presentation">
                <a class="nav-link" href="#propertyOverviewNavThree" id="propertyOverviewNavThree-tab"
                  data-bs-toggle="tab" data-bs-target="#propertyOverviewNavThree" role="tab"
                  aria-controls="propertyOverviewNavThree" aria-selected="false" style="min-width: 7rem;">Location</a>
              </li>

              <li class="nav-item" role="presentation">
                <a class="nav-link" href="#propertyOverviewNavThree" id="propertyOverviewNavFour-tab"
                  data-bs-toggle="tab" data-bs-target="#propertyOverviewNavFour" role="tab"
                  aria-controls="propertyOverviewNavFour" aria-selected="false" style="min-width: 7rem;">Additional</a>
              </li>
            </ul>
            <!-- End Nav -->
          </div>
          <!-- End Nav Scroller -->

          <!-- Tab Content -->
          <div class="tab-content">
            <div class="tab-pane fade show active" id="propertyOverviewNavOne" role="tabpanel"
              aria-labelledby="propertyOverviewNavOne-tab">
              <div class="mb-4">
                <h4>Details</h4>
              </div>

              <div class="row justify-content-md-between">
                <div class="col-md-5">
                  <dl class="row">
                    <dt class="col-6">Listing ID:</dt>
                    <dd class="col-6">{{page.listingID}}</dd>

                    <dt class="col-6">Property type:</dt>
                    <dd class="col-6">{{page.property-type}}</dd>

                    <dt class="col-6">Year built:</dt>
                    <dd class="col-6">{{page.year-built}}</dd>
                  </dl>
                  <!-- End Row -->
                </div>
                <!-- End Col -->

                <div class="col-md-5">
                  <dl class="row">
                    <dt class="col-6">Lot size:</dt>
                    <dd class="col-6">{{page.lot-size}} ac</dd>

                    <dt class="col-6">Rooms:</dt>
                    <dd class="col-6">{{page.bed}}</dd>

                    <dt class="col-6">Parking:</dt>
                    <dd class="col-6">{{page.parking}}</dd>
                  </dl>
                  <!-- End Row -->
                </div>
                <!-- End Col -->
              </div>
              <!-- End Row -->

              <hr class="my-6">

              <div class="mb-4">
                <h4>Description</h4>
              </div>

              <p>{{content | truncatewords: 200}}</p>


              <hr class="my-6">

              <div class="mb-4">
                <h4>Interior</h4>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <!-- List -->
                  <ul class="list-unstyled list-py-1 mb-0">
                    <li class="d-flex align-items-center">
                      <h6 class="mb-0">Building Features</h6>
                      <p class="mb-0 gap-1 ms-auto">{{page.building-features}}</p>
                    </li>

                    <li class="d-flex align-items-center">
                      <h6 class="mb-0">Cooling</h6>
                      <p class="mb-0 gap-1 ms-auto">{{page.cooling}}</p>
                    </li>

                    <li class="d-flex align-items-center">
                      <h6 class="mb-0">Heating</h6>
                      <p class="mb-0 gap-1 ms-auto">{{page.heating}}</p>
                    </li>
                    <li class="d-flex align-items-center">
                      <h6 class="mb-0">Living Area</h6>
                      <p class="mb-0 gap-1 ms-auto">{{page.living-area}}</p>
                    </li>
                    <li class="d-flex align-items-center">
                      <h6 class="mb-0">Living Area Source</h6>
                      <p class="mb-0 gap-1 ms-auto">{{page.living-area-source}}</p>
                    </li>

                  </ul>
                  <!-- End List -->
                </div>

                <div class="col-sm-6">
                  <!-- List -->
                  <ul class="list-unstyled list-py-1 mb-0">
                    <li class="d-flex align-items-center">
                      <h6 class="mb-0">Living Area Units</h6>
                      <p class="mb-0 gap-1 ms-auto">{{page.living-area-units}}</p>
                    </li>
                    <li class="d-flex align-items-center">
                      <h6 class="mb-0">SqFt - Office</h6>
                      <p class="mb-0 gap-1 ms-auto">{{page.SqFt}}</p>
                    </li>
                    <li class="d-flex align-items-center">
                      <h6 class="mb-0">Stories</h6>
                      <p class="mb-0 gap-1 ms-auto">{{page.stories}}</p>
                    </li>
                  </ul>
                  <!-- End List -->
                </div>
              </div>
              <!-- End Row -->
              <hr class="my-6">
              <h4 class="mb-1">External</h4>
              <div class="row">
                <div class="col-sm-6">
                  <!-- List -->
                  <ul class="list-unstyled list-py-1 mb-0">
                    <li class="d-flex align-items-center">
                      <h6 class="mb-0">Construction Materials</h6>
                      <p class="mb-0 gap-1 ms-auto">{{page.construction-materials}}</p>
                    </li>

                    <li class="d-flex align-items-center">
                      <h6 class="mb-0">Door Features</h6>
                      <p class="mb-0 gap-1 ms-auto">{{page.door-features}}</p>
                    </li>

                    <li class="d-flex align-items-center">
                      <h6 class="mb-0">Electric</h6>
                      <p class="mb-0 gap-1 ms-auto">{{page.electric}}</p>
                    </li>
                    <li class="d-flex align-items-center">
                      <h6 class="mb-0">Foundation Details</h6>
                      <p class="mb-0 gap-1 ms-auto">{{page.foundation-details}}</p>
                    </li>
                    <li class="d-flex align-items-center">
                      <h6 class="mb-0">Lot Features</h6>
                      <p class="mb-0 gap-1 ms-auto">{{page.lot-features}}</p>
                    </li>
                    <li class="d-flex align-items-center">
                      <h6 class="mb-0">Lot Size Area</h6>
                      <p class="mb-0 gap-1 ms-auto">{{page.lot-size-area}}</p>
                    </li>
                    <li class="d-flex align-items-center">
                      <h6 class="mb-0">Lot Size Square Feet</h6>
                      <p class="mb-0 gap-1 ms-auto">{{page.lot-size-square-feet}}</p>
                    </li>
                    <li class="d-flex align-items-center">
                      <h6 class="mb-0">Lot Size Units</h6>
                      <p class="mb-0 gap-1 ms-auto">{{page.lot-size-units}}</p>
                    </li>
                  </ul>
                  <!-- End List -->
                </div>

                <div class="col-sm-6">
                  <!-- List -->
                  <ul class="list-unstyled list-py-1 mb-0">
                    <li class="d-flex align-items-center">
                      <h6 class="mb-0">Parking Features</h6>
                      <p class="mb-0 gap-1 ms-auto">{{page.parking-features}}</p>
                    </li>
                    <li class="d-flex align-items-center">
                      <h6 class="mb-0">Road Frontage Type</h6>
                      <p class="mb-0 gap-1 ms-auto">{{page.road-frontage-type}}</p>
                    </li>
                    <li class="d-flex align-items-center">
                      <h6 class="mb-0">Road Surface Type</h6>
                      <p class="mb-0 gap-1 ms-auto">{{page.road-surface-type}}</p>
                    </li>
                    <li class="d-flex align-items-center">
                      <h6 class="mb-0">Roof</h6>
                      <p class="mb-0 gap-1 ms-auto">{{page.roof}}</p>
                    </li>
                    <li class="d-flex align-items-center">
                      <h6 class="mb-0">Water Source</h6>
                      <p class="mb-0 gap-1 ms-auto">{{page.water-source}}</p>
                    </li>
                    <li class="d-flex align-items-center">
                      <h6 class="mb-0">Wooded Percent</h6>
                      <p class="mb-0 gap-1 ms-auto">{{page.wooded-percent}}</p>
                    </li>
                  </ul>
                  <!-- End List -->
                </div>
              </div>
              <!-- End Row -->
            </div>

            <div class="tab-pane fade" id="propertyOverviewNavTwo" role="tabpanel"
              aria-labelledby="propertyOverviewNavTwo-tab">
              <a href="../assets/img/others/img1.png" data-fslightbox="propertyOverviewFloorplan">
                <img class="img-fluid" src="{{page.plans}}" alt="Image Description">
              </a>
            </div>
            <div class="tab-pane fade" id="propertyOverviewNavThree" role="tabpanel"
              aria-labelledby="propertyOverviewNavThree-tab">
              <div class="mb-4">
                <h4>Location</h4>
              </div>
              <div class="row justify-content-md-between">
                <div class="col-md-5">
                  <dl class="row">
                    <dt class="col-6">Directions</dt>
                    <dd class="col-12">{{page.directions}}</dd>

                    <dt class="col-6">Property type:</dt>
                    <dd class="col-12">{{page.property-type}}</dd>

                    <dt class="col-6">Parish</dt>
                    <dd class="col-12">{{page.parish}}</dd>
                  </dl>
                  <!-- End Row -->
                </div>
                <!-- End Col -->
                <div class="col-md-5">
                  <dl class="row">
                    <dt class="col-6">Sub Type:</dt>
                    <dd class="col-12">{{page.property-subtype}}</dd>

                    <dt class="col-6">Zoning:</dt>
                    <dd class="col-12">{{page.zoning}}</dd>

                    <dt class="col-6">Features:</dt>
                    <dd class="col-12">{{page.features}}</dd>
                  </dl>
                  <!-- End Row -->
                </div>
                <!-- End Col -->
              </div>
              <!-- Gmap -->
              {{page.map}}
              <!-- End Gmap -->
            </div>
            <div class="tab-pane fade" id="propertyOverviewNavFour" role="tabpanel"
              aria-labelledby="propertyOverviewNavFour-tab">
              <div class="mb-5">
                <h5>Attachements & Media</h5>
                {% if page.files %}
                <ul>
                  {% for item in page.files %}

                  <li><a href="{{ item.file }}" target="_blank">{{ item.file_name }}</a></li>

                  {% endfor %}
                </ul>
                {% else %}
                <p>Currently no attachments</p>
                {% endif %}
              </div>
            </div>
          </div>
          <!-- End Tab Content -->

          <hr class="my-6">

          <div class="mb-4">
            <h4>Listing agents</h4>
          </div>

          <div class="row">
            {% for team in site.data.broker %}
            {% if page.agent == team.name %}
            <div class="col-sm-6 col-md-5 mb-4 mb-sm-0">
              <!-- Media -->
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-lg avatar-circle" src="/{{team.image}}" alt="Image Description">
                </div>

                <div class="flex-grow-1 ms-3">
                  <h4 class="mb-1">
                    {{team.name}}
                  </h4>
                  <span class="d-block small mb-1">
                    <i class="bi-telephone-fill me-1"></i><a href="tel:{{team.phone}}" class="phone">{{team.phone}}</a>
                  </span>
                  <span class="d-block small mb-1">
                    <i class="fa-solid fa-envelope me-1"></i>{{team.email}}
                  </span>
                </div>
              </div>
              <!-- End Media -->
            </div>
            <!-- End Col -->
            {% endif %}
            {% endfor %}
            <div class="col-sm-6 col-md-5 mb-4 mb-sm-0">
              <!-- Media -->
              <div class="d-flex">
                {% for team in site.data.broker limit:1 %}
                {% if page.agent != team.name %}
                <div class="flex-shrink-0">
                  <img class="avatar avatar-lg avatar-circle" src="/assets/img/Scout_Seal.png"
                    alt="Scout Real Estate Logo Seal">
                </div>
                {% endif %}
                {% endfor %}
                <div class="flex-grow-1 ms-3">
                  <h4 class="mb-1">
                    <a class="text-dark" href="#">Scout Real Estate Co.</a>
                  </h4>

                  <span class="d-block small mb-1">
                    <i class="bi-telephone-fill me-1"></i> <a href="tel:3374430880" class="phone">(337)443-0880</a>
                  </span>
                  <span class="d-block small mb-1">
                    <i class="fa-solid fa-envelope me-1"></i> info@scoutrec.com
                  </span>
                </div>
              </div>
              <!-- End Media -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Col -->

        <div class="col-lg-4">
          <!-- Sticky Block -->
          <div id="stickyBlockStartPoint">
            <div class="js-sticky-block" data-hs-sticky-block-options='{
                 "parentSelector": "#stickyBlockStartPoint",
                 "breakpoint": "lg",
                 "startPoint": "#stickyBlockStartPoint",
                 "endPoint": "#stickyBlockEndPoint",
                 "stickyOffsetTop": 24,
                 "stickyOffsetBottom": 0
               }'>
              <!-- Card -->
              <div class="card card-bordered">
                <div class="card-body">
                  {% for team in site.data.broker %}
                  {% if page.agent == team.name %}
                  <!-- Media -->
                  <div class="d-flex align-items-center mb-4">
                    <div class="flex-shrink-0">
                      <img class="avatar avatar-circle" src="/{{team.image}}" alt="{{team.name}} profile image">
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <h4 class="card-title">Ask me for more information</h4>
                    </div>
                  </div>
                  <!-- End Media -->
                  <!-- Form -->
                  <form>
                    <select class="form-select mb-2">
                      <option selected disabled>Tell me more about this property</option>
                      <option value="aboutProperty1">Request a showing</option>
                      <option value="aboutProperty3">Request recent area sales</option>
                    </select>
                    <div class="mb-2">
                      <label for="fullNamePropertyOverviewContactForm" class="form-label visually-hidden">Full
                        Name</label>
                      <input type="text" class="form-control" id="fullNamePropertyOverviewContactForm"
                        placeholder="Full Name" aria-label="Full Name">
                    </div>

                    <div class="mb-2">
                      <label for="emailPropertyOverviewContactForm" class="form-label visually-hidden">Email</label>
                      <input type="email" class="form-control" id="emailPropertyOverviewContactForm" placeholder="Email"
                        aria-label="Email">
                    </div>

                    <div class="mb-2">
                      <label for="phoneNumberPropertyOverviewContactForm" class="form-label visually-hidden">Phone
                        number</label>
                      <input type="tel" class="form-control" id="phoneNumberPropertyOverviewContactForm"
                        placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xxx-xx-xx">
                    </div>

                    <div class="mb-2">
                      <label for="questionPropertyOverviewContactForm" class="form-label visually-hidden">Property
                        question</label>
                      <textarea class="form-control" id="questionPropertyOverviewContactForm"
                        placeholder="I would like more information about ..."
                        aria-label="I would like more information about ..." rows="4"></textarea>
                    </div>

                    <div class="d-grid">
                      <button type="button" class="btn btn-primary">Request info</button>
                    </div>
                  </form>
                  <!-- End Form -->
                  {% endif %}
                  {% endfor %}
                  {% for team in site.data.broker limit:1 %}
                  {% if page.agent != team.name %}
                  <!-- Media -->
                  <div class="d-flex align-items-center mb-4">
                    <div class="flex-shrink-0">
                      <img class="avatar avatar-circle" src="/assets/img/Scout_Seal.png"
                        alt="Scout Real Estate Logo Seal">
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <h4 class="card-title">Ask Scout for more information</h4>
                    </div>
                  </div>
                  <!-- End Media -->
                  <!-- Form -->
                  <form>
                    <select class="form-select mb-2">
                      <option selected disabled>Tell me more about this property</option>
                      <option value="aboutProperty1">Request a showing</option>
                      <option value="aboutProperty3">Request recent area sales</option>
                    </select>
                    <div class="mb-2">
                      <label for="fullNamePropertyOverviewContactForm" class="form-label visually-hidden">Full
                        Name</label>
                      <input type="text" class="form-control" id="fullNamePropertyOverviewContactForm"
                        placeholder="Full Name" aria-label="Full Name">
                    </div>

                    <div class="mb-2">
                      <label for="emailPropertyOverviewContactForm" class="form-label visually-hidden">Email</label>
                      <input type="email" class="form-control" id="emailPropertyOverviewContactForm" placeholder="Email"
                        aria-label="Email">
                    </div>

                    <div class="mb-2">
                      <label for="phoneNumberPropertyOverviewContactForm" class="form-label visually-hidden">Phone
                        number</label>
                      <input type="tel" class="form-control" id="phoneNumberPropertyOverviewContactForm"
                        placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xxx-xx-xx">
                    </div>

                    <div class="mb-2">
                      <label for="questionPropertyOverviewContactForm" class="form-label visually-hidden">Property
                        question</label>
                      <textarea class="form-control" id="questionPropertyOverviewContactForm"
                        placeholder="I would like more information about ..."
                        aria-label="I would like more information about ..." rows="4"></textarea>
                    </div>

                    <div class="d-grid">
                      <button type="button" class="btn btn-primary">Request info</button>
                    </div>
                  </form>
                  <!-- End Form -->
                  {% endif %}
                  {% endfor %}
                </div>
                <!-- End Card -->
              </div>
            </div>
          </div>
          <!-- End Sticky Block -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->

      <!-- Sticky Block End Point -->
      <div id="stickyBlockEndPoint"></div>

      <hr class="my-6">


      <!-- End Content -->

      <!-- Card Grid -->
      <div class="container content-space-2">
        <!-- Heading -->
        <div class="w-md-75 w-lg-50 mb-4">
          <h3>Similar properties you may like</h3>
        </div>
        <!-- End Heading -->

        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 mb-4">
          {% assign random_properties = site.properties | sample:3 %}
          {% for property in random_properties %}
          <div class="col mb-3">
            <!-- Card -->
            <div class="card card-flush shadow-none h-100">
              <a class="card-pinned" href="{{property.url}}" data-fslightbox="propertyGridGallery1">
                <img class="card-img" src="{{property.image-1}}" alt="Image Description">

                <div class="card-pinned-top-start">
                  <span class="badge bg-success">New</span>
                </div>

                <div class="card-pinned-bottom-end">
                  <span class="btn btn-light btn-xs btn-icon">
                    <i class="bi-images"></i>
                  </span>
                </div>
              </a>

              <a class="d-none" href="{{property.image-1}}" data-fslightbox="propertyGridGallery1"></a>
              <a class="d-none" href="../assets/img/1920x1080/img17.jpg" data-fslightbox="propertyGridGallery1"></a>
              <a class="d-none" href="../assets/img/1920x1080/img16.jpg" data-fslightbox="propertyGridGallery1"></a>

              <!-- Body -->
              <a class="card-body" href="{{property.url}}">
                <span class="card-subtitle text-body">For sale</span>

                <div class="row align-items-center mb-3">
                  <div class="col">
                    <h4 class="card-title text-inherit">{{property.name}}</h4>
                  </div>
                  <!-- End Col -->

                  <div class="col-auto">
                    <h3 class="card-title text-primary">&#163;{{property.price}}</h3>
                  </div>
                  <!-- End Col -->
                </div>
                <!-- End Row -->

                <ul class="list-inline list-separator text-body small">
                  <li class="list-inline-item">
                    <i class="fas fa-sharp fa-solid fa-building text-muted me-1"></i> property type: {{page.property-type}} </li>
                  </li>
                  <li class="list-inline-item">
                    <i class="bi-rulers text-muted me-1"></i> {{page.SqFt}} sqft</li>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-sharp fa-solid fa-rotate text-muted me-1"></i> last updated: {{page.last-updated}}
                  </li>
                </ul>
              </a>
              <!-- End Body -->
            </div>
            <!-- End Card -->
          </div>
          {% endfor %}
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
  </main>
  <!-- ========== END MAIN CONTENT ========== -->
  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>